<div class="jumbotron">
  <h1 class="display-4">Grados técnicos CES Juan Pablo II</h1>
  <p class="lead">
    Aplicación WEB realizada por Luis Heredia para el ciclo de Desarrollo de
    Aplicaciones Multiplataforma
  </p>
  <hr class="my-4" />
  <p>
    Aplicación realizada para el módulo de DI, hecha en ANGULAR que consta de :
  </p>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Componente home :representa la entrega inicial de la aplicación</td>
      </tr>
      <tr>
        <td>
          Componente Ciclos: representa tantas cartas como ciclos existan en el
          servicio CiclosService
        </td>
      </tr>

      <tr>
        <td>
          Componente Asignaturas: representa tantas cartas como asignaturas haya
          en el servicio Asignatura Service. Adicionalmente se cuenta con un
          filtro para poder ver asignaturas especificas
        </td>
      </tr>
      <tr>
        <td>
          Componente Asignatura: representa el aspecto que tendrá una carta de
          las de arriba mencionadas
        </td>
      </tr>
      <tr>
        <td>
          Componente DetalleCiclo: representa el detalle de un ciclo, donde se
          mostrarán los conocimientos necesarios para poder aprobar el ciclo y
          todas las asignaturas que lo componen
        </td>
      </tr>
      <tr>
        <td>
          Componente Navbar: representa la barra de navegación superior, donde
          se muestran un menú con las siguientes posibilidades
          <li>Inicio: llevará al componente Home</li>
          <li>Ciclos: llevará al componente Ciclos</li>
          <li>Asignaturas: llevará al componente Asignaturas</li>
        </td>
      </tr>
      <tr>
        <td>
          Servicios: se deberá crear al menos dos servicios que provean de datos
          tanto para los ciclos como para las asignaturas
        </td>
      </tr>

      <tr>
        <td>
          Pipes: se deberá crear al menos dos directivas personalizada que
          realice alguna transformacion en la aplicación
        </td>
      </tr>
    </tbody>
  </table>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.cesjuanpablosegundo.es/" role="button">Ir a la Web</a>
  </p>
</div>
